#fetchData {
  margin-top: 1rem;
}

#planetsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#planetsTable th,
#planetsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#planetsTable th {
  background-color: #f2f2f2;
}

#planetsTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#planetsTable tbody tr:hover {
  background-color: #d3d3d3;
}
